.App.dark header {
    background-color: #000;
}

.App.dark footer {
    color: #000;
    background-color: #eee;
    outline: 2px solid #000;
}

.App.dark .item svg {
    color: #000;
}

.App.dark button,
.App.dark button:focus,
.App.dark button:hover {
    background-color: #eee;
    color: #000;
}